@media (min-width: 1024px) {
    .footer {
        background: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 2.5vh;
        
       .logoWrapper {
        width: 10%;

        img {
            width: 100%;
        }
       }

       .listWrapper {
        width: 20%;
        text-align: center;
        color: white;
        margin-top: 5vh;

        p {
            font-weight: 300;
        }
       }
    }
}