@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  // background: #430C6F;
  background: linear-gradient(to bottom, 
                    #430C6F 0%, 
                    #4d1978 55%, 
                    #9A6FBD 100%);
}