@media (min-width: 1024px) {
    .header {
        background: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        padding: 3vh 2vw;
        border-bottom: 2px solid white;
        background: #2d074c;
        
        .logoWrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            img {
                width: 7.5vw;
            }
        }

        .userOptions {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}