@media (min-width: 1024px) {
    .header {
        background: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        padding: 3vh 2vw;
        border-bottom: 4px solid white;
        background: #2d074c;
        border-bottom: 3px solid transparent;
        background-position: bottom;
        background-size: 100% 3px;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, #9b30ff, #ff69b4);
        z-index: 20;
        
        .logoWrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            img {
                width: 7.5vw;
            }
        }

        .createTokenButton {
            justify-self: center;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            padding: 1vh 2vw;
            font-size: 1.25rem;
        }

        .userOptions {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                background: #7934B0;
                display: flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                padding: 1vh;
                cursor: pointer;
                border-radius: 5px;
                margin-left: 1vw;
            }
        }
    }
}