@media (min-width: 1024px) {
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20vh 0 2.5vh 0;
        
        h1 {
            color: white;
            font-size: 2.5rem;
            font-weight: 700;
        }

        .availableContractsDataContainer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10vh;

            .filtersContainer {
                width: 30%;
                min-height: 30vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .filtersHeader {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    h2 {
                        text-align: left;
                        color: white;
                        font-size: 2rem;
                        margin-left: 1vw;
                        font-weight: 600;
                        }

                    button {
                        padding: 0;
                        cursor: pointer;
                        margin-left: 2vw;
                        border: 1px solid white;
                        padding: 0 2vw;
                        color: white;
                    }
                }


                .filtersContent {
                    width: 100%;
                    margin-top: 3vh;
                    padding: 0 1vw;

                    .regionFilter {
                        width: 50%;
                        background: white;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-between;
                        padding: 1vh .5vw;
                        align-items: center;

                        select {
                            width: 100%;
                            outline: none;
                            cursor: pointer;
                        }
                    }

                    .priceFilter {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 2vh 0 3vh 0;

                        h3 {
                            color: white;
                            font-size: 1.5rem;
                            font-weight: 400;
                        }

                        .inputFiltersContainer {
                            display: flex;
                            justify-content: flex-start;
                            margin-top: 1vh;
                            width: 90%;

                            input {
                                color: black;
                                border-radius: 5px;
                                padding: 1vh 0 1vh .25vw;
                                outline: none;
                                width: 40%;
                                border: 2px solid transparent;
                            }

                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                display: none;
                            }

                            input:invalid {
                                border: 2px solid red;
                            }

                            span {
                                color: white;
                                margin: 0 1vw;
                            }
                        }
                    }

                    .categoryAndEnergyTypeFilter {
                        width: 100%;
                        display: flex;
                        margin-top: 2vh;
                        flex-direction: column;
                        align-items: flex-start;

                        h3 {
                            color: white;
                            font-size: 1.5rem;
                            font-weight: 400;
                        }       
                        
                        .inputWrapper {
                            display: flex;
                            justify-content: flex-start;
                            margin: 1vh 0;
                            cursor: pointer;
                            
                            input, label {
                                cursor: pointer;
                            }

                            label {
                                margin-left: .5vw;
                                color: #c2bac9;
                            }

                            label:hover {
                                color: #eeecf0;
                            }
                        }
                    }
                }
            }

            .contractsTableContainer {
                width: 65%;
                padding: 0 1vw 0 4vw;

                .tableWrapper {
                    width: 100%;

                    table {
                        width: 100%;
                        color: white;
                        table-layout: fixed;

                        tr {
                            text-align: center;
                            cursor: pointer;
                            
                            th {
                                padding-bottom: 2vh;
                                border-bottom: 1px solid #d2cdd7;
                                text-align: center;
                                cursor: default;
                            }
                            
                            td {
                                text-align: center;
                                padding: 3vh 0;
                            }

                            .iconTableData {
                                .iconWrapper {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    vertical-align: middle;
                                }
                            }

                            img {
                                width: 4vw;
                                height: 4vw;
                            }
                        }

                        tr:hover {
                            background-color: #4c117c;
                        }
                    }
                }
            }
        }
    }
}